/* smaller picture on the right */

div.personalpicture{
	float: right;
	margin-left: 30px;
	margin-right: 20px;
	width: 30%;
	margin-top: -65px;
}



div.otherpicture {
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -70px;
    width: 42%;
    text-align: center;
    font-size: 16px;
}

div.otherpicture img{
    box-shadow: 0px 0px 25px black;
    border-radius: 5px;	
    width: 100%;
}

div.otherpicture2 {
    display: none;
}





header {
    background-image: url("X3.jpeg");
    background-size: 1250px;
    background-position: right top;
    height: 400px;  /* adjusted for padding */
}


@media screen and (min-width: 1251px) {
    header {
        background-size: 1875px;
        height: 600px;  /* adjusted for padding */    }
    header h3 {
            padding-top: 465px;
        }    
  }

@media screen and (min-width: 1876px) {
    header {
        background-size: 2500px;
        height: 750px;  /* adjusted for padding */    }
    header h3 {
            padding-top: 615px;
        }    
}

@media screen and (min-width: 2500px) {
      header {
        background-size: 100% 100%;
      }
    }



div.vertspace {
    margin-bottom:1.1cm;
}



/*  ------------  background for waves on parallax  scroll -------------  */


transparent {
    display: none;
}
