html{height:100%;font-family:Verdana !important;}
body{height:100%;max-width:100% !important;overflow-x:hidden !important;
}
#content{height:100%;}
table{height:100%;width:100%;position: absolute; top: 0; bottom: 0 !important; left: 0; right: 0;margin:0 !important;margin-right:0 !important;}
.tr-header{height:5%;}
.td1{vertical-align:bottom !important}
.rer-logo{height:100%; position:relative; float:left;margin-top:0;}
.tr-header .td1 p{color:#14489e;font-family:Verdana;font-weight:bold;font-size:26px;padding-left:55%;width:82%;max-width:82%;}
.td2-header{vertical-align:middle!important;background-color:#555b69;font-size:36px;color:white !important;font-weight:bold;text-align:center!important;width:18%;max-width:18%;}
.bg-tr{background-color:#d6dcd8;}
.tr-normal{height:5%;max-height:5%;}
.tr-normal td, .tr-trafic .tdfull{vertical-align:middle!important}
.tr-normal .td1 p{color:black;font-family:Verdana;font-weight:bold;font-size:16.5px;margin:0px;}
.tr-normal .td2{text-align:right !important;width:28%!important;max-width:28%!important;}
.tr-normal .td2 p{color:black;font-family:Verdana;font-weight:bold;font-size:18px;margin:0px;}
.tr-trafic{height:10%;background-color:#FACC2E;}
.tr-trafic .tdfull p{color:black;font-family:Calibri;font-weight:bold;font-size:15px;margin:0px;}